h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muli', sans-serif;
  color: white;
}

#introduction {
  z-index: 2;
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

#introduction h1 {
  font-weight: 800;
  font-size: 7em;
}
