h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muli', sans-serif;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 4vw;
}

.bold {
  font-weight: 800;
}

img {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

#introduction {
  z-index: 2;
  position: relative;
}

#introduction h1 {
  font-weight: 800;
  font-size: 9vw;
}
