<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
  <meta name="application-name" content="DVC Science Alliance">
  <meta name="msapplication-TileColor" content="#27AE5F">
  <meta name="msapplication-TileImage" content="images/mstile-144x144.png">

  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/{{ page.css2 }}.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/{{ page.css }}.css">
</head>
